<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Update Book</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arsenal&family=Philosopher&display=swap" rel="stylesheet">
	   
	   <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
		

    </head>
	<style>
		div.a {
		width: 100%;
		height: 135vh;
		background: linear-gradient(
			to top,
			white 0%,
			white 50%,
			grey 75%,
			grey 100%
		);
		}
		
		.w3-arsenal {
			font-family: Arsenal;
			}
	</style>
    <body>
		<div class="a w3-arsenal">
		<h1 style="text-align:center; font-size: 72px; font-family: Philosopher">Update Book</h1>
	
        <div class="w3-container my-5 w3-display-middle w3-teal w3-arsenal">
            <h3 style= "text-align:center; font-size: 32px"> Enter Book Info</h3>
            <div class="w3-panel w3-card-2" style="width: 22rem; font-size: 20px">
                <div class="card-body">
                    <div class="col-md-10">
                        <form action="#" th:action="@{/book/update}" th:object="${book}"
                              method="post">

                            <table border="0" cellpadding="5">
                                <tr>
                                    <td>ID:</td>
                                    <td><input type="text" th:field="*{id}" value="${book.id}" readonly /></td>
                                </tr>
                                <tr>
                                    <td>Title:</td>
                                    <td><input type="text" th:field="*{title}" value="${book.title}"/></td>
                                </tr>
								<tr>
                                    <td>Author:</td>
                                    <td><input type="text" th:field="*{author}" value="${book.author}"/></td>
                                </tr>
								<tr>
                                    <td>ISBN:</td>
                                    <td><input type="text" th:field="*{isbn}" value="${book.isbn}"/></td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td><input type="text" th:field="*{price}" value="${book.price}"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button type="submit">Save</button> </td>
                                </tr>

                            </table>
                        </form>


                    </div>


                </div>
            </div>
        </div>



    </body>
</html>
